<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>C3D File Viewer</title>
</head>
<body>
    <!-- top -->
    <div id="top"> C3D File Viewer </div>

    <!-- canvas -->
    <canvas id="canvas"></canvas>
    <!-- <div id="canvas_area">
    </div> -->

    <!-- right -->
    <div id="right">
        <div>
            <div> Chack your display frame rate </div>
            <input type="button" id="checkbtn" value="Check" onclick="check_disFrameRate();"/>
            <div id="btns">
                <input type="button" id="playbtn" disabled="true" onclick="play();"/>
                <input type="button" id="pausebtn" onclick="pause();"/>
                <input type="button" id="stopbtn" onclick="stop();"/>
            </div>
        </div>

        <!-- Upload file -->
        <form id="file_upload" method="post" enctype="multipart/form-data">
            <input type="file" id="file" name="file" accept=".c3d" onchange="chk_file_format(this)">
            <div>
                <input type="button" id="upload-file-btn" value="Upload" onclick="upload_file();"/>
            </div>
        </form>

        <!-- Download sample file -->
        <form action="/download" method="POST" enctype="multipart/form-data">
            <input type="submit" id="download" value="Download Sample C3D File"/>
        </form>
    </div>

    <!-- JavaScript -->
    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/animate.js"></script>
</body>
</html>